{% extends "base.html" %}

{% block main %}

    <h1>Secure Page</h1>

    <p>
        Artificial Intelligence (AI), is the ability of a digital application to execute tasks commonly associated with human intelligence. 
        This form of technology involves the intellectual process such as the ability to reason, discover meaning, generalize or learn from data (past experiences).
        Digital computers excel in carrying out complex tasks such as math equations or playing chess with great proficiency, however, 
        there are no programs as of yet that can fully mimic human flexibility in carrying tasks in wider domains. 
        However, the continuous progress of AI advancement is relentless and has demonstrated the ability to perform specific tasks at a human professional level 
        and can be found in diverse applications such as medical diagnosis, computer search engines, sound and image recognition systems.
    </p>


{% endblock %}